@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garage 2.0</h1>
    <p class="lead">
        THE LOPPERS Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
        it to make a type specimen book.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Checka in fordon</h2>
        <p>
            CHECKA IN FORDON is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Parkera fordon","Create", "Vehicles1/Create")</p>
    </div>
    <div class="col-md-4">
        <h2>Checka ut fordon</h2>
        <p>
            CHECKA UT FORDON is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Check out", "Index", "Vehicles1/CheckOutBySearching")</p>
    </div>
    <div class="col-md-4">
        <h2>Redigera fordons data</h2>
        <p>
            REDIGERA FORDON DATA is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
            it to make a type specimen book.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<br /><br /><br /><br />